<!DOCTYPE html>
<html>
<head>
    <title>Telegram Scheduler</title>
</head>
<body>
    <h1>Telegram Scheduler</h1>
    <form>
        <label for="group">Group:</label><br>
        <input type="text" id="group" name="group"><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message"></textarea><br>
        <label for="interval">Interval (seconds):</label><br>
        <input type="number" id="interval" name="interval"><br><br>
        <input type="submit" value="Start Scheduling">
    </form>
</body>
</html>
